<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">

<th:block layout:fragment="script">
    <script th:src="@{/js/user/loginForm.js}"></script>
</th:block>

<section id="main" class="main" layout:fragment="content" style="position: relative!important;">

    <div class="divCenter">
        <div class="flexColumn">

            <div class="form-group">
                <label class="form-label" for="email">Email *</label>
                <input class="form-control form-control-sm" id="email" name="email" type="text" placeholder="이메일을 입력해주세요*" required>
            </div>

            <div class="form-group">
                <label class="form-label" for="password">Password *</label>
                <input class="form-control form-control-sm" id="password" name="password" type="password" placeholder="비밀번호를 입력해주세요*" required>
            </div>

            <div class="loginBtnDiv">
                <button class="btn btn-sm w-100 btn-outline-dark mgb-5 loginBtn">로그인하기</button>
                <button id="joinBtn" class="btn btn-sm w-100 btn-outline-dark">회원가입</button>

                <div class="loginApi">
                    <a href="http://localhost:8080/oauth2/authorization/kakao"><img src="/images/kakaoLogin.png"></a>
                    <a href="http://localhost:8080/oauth2/authorization/google"><img src="/images/googleLogin.png"></a>
                </div>
            </div>
        </div>
    </div>
    <button type="button" id="example">sas</button>
</section>
</html>