<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block layout:fragment="script">
</th:block>

    <div class="col-12 col-md-3">
        <nav class="mb-10 mb-md-0">
            <div class="list-group list-group-sm list-group-strong list-group-flush-x">
                <a class="list-group-item list-group-item-action dropend-toggle">
                    가계부 현황
                </a>
                <a class="list-group-item list-group-item-action dropend-toggle">
                    가계부 설정
                </a>
                <a class="list-group-item list-group-item-action dropend-toggle">
                    나의 정보
                </a>
                <a class="list-group-item list-group-item-action dropend-toggle">
                    회원 탈퇴
                </a>
            </div>
        </nav>
    </div>

</html>