<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:fragment="configFragment">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script type="text/javascript" src="/js/common/jquery-3.6.1.min.js./"></script>

    <link rel="stylesheet" href="/css/libs.bundle.css"/>
    <link rel="stylesheet" href="/css/theme.bundle.css"/>
    <link rel="stylesheet" href="/css/commonDesign.css"/>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnKt8_N4-FKOnhI_pSaDL7g_g-XI1-R9E"></script>

    <script src="/js/common/commonUtill.js"></script>
    <script src="/js/common/vendor.bundle.js"></script>
    <script src="/js/common/theme.bundle.js"></script>

    <th:block layout:fragment="css"></th:block>
    <th:block layout:fragment="script"></th:block>

</th:block>
</html>